### Asterisk

## Next.js

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js Specific
/.next/
/out/

# Production
/build

# TypeScript
*.tsbuildinfo
next-env.d.ts

## Misc

# macOS
.DS_Store

# Don't check in secrets, mate!
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Development

# Local environment files
.env*.local

# Editor/IDEs
/.idea
/.vscode

## Docker

# Docker Volume Data
/data
